
*{
	padding: 0;
	margin: 0;	
}


.header{
		background-color: #142047;
		color: white;
		width: 100%;
		height: 130px;
}

.contenedor{
	width: 80%;
	max-width: 100%;
	margin: 0 auto;
}

.logo-contenedor{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

body{
	font-family: Arial;
	/*background-color: rgb(214, 239, 255);*/
	background-color: white;
	box-sizing: border-box;
}


form{
	background: white;
	border-style: solid;
  	border-width: 2.5px;
	border-radius: 8px;
	border-color: #142047;
	color: #999;
	font-size: 1.1em;
	padding: 30px;
	margin: 15px auto;
	width: 500px;


}

input{
	border: 0;
	
}

h1{
	text-align: center;
	font-size: 1.8em;
}


.field{
	border: solid 1px #ccc;
	padding: 11px;
	width: 480px;
}

.field:focus{
	border-color: red;
}

.boton{
	background-color: #4CAF50; /* Green */
  	border: none;
  	color: white;
  	padding: 15px 45px;
  	font-size: 14px;
  	display: block;  
  	margin: 0 auto;
}